@tailwind base;
@tailwind components;


@tailwind utilities;

.nav-element {
    @apply text-gray-100 hover:bg-blue-800 active:bg-blue-800 px-4 py-2 rounded-3xl text-sm;
}

.banner-div {
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;

}

.featured {
    @apply bg-white shadow-2xl py-5 rounded-3xl flex flex-col items-center w-60
}

.featured div {
    background-color: #2222ff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    place-content: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.featured p {
    text-transform: uppercase;
    font-size: small;
    font-weight: 800;
}

.trending {
    @apply rounded-3xl overflow-hidden bg-gray-100 relative
}

.trending span {
    @apply absolute top-5 right-5 p-2 rounded-xl flex place-items-center flex-col font-semibold text-white;
    background-color: #4949fc;
}

.trending span b {
    @apply text-xs;
    font-weight: 400;
    text-decoration: line-through;
}

.trending div {
    @apply p-4 pt-8;
}

.trending div {
    @apply text-sm text-gray-500;
}

.trending div div {
    @apply p-0 flex justify-between mt-3 text-black hover:text-blue-700
}

.trending div div p {
    @apply text-sm font-bold;

}

.myRoundedGray-bg {
    border-radius: 8rem;
}

.top-game {
    @apply flex flex-col items-center bg-white rounded-2xl;
}

.top-game img{
    @apply rounded-t-2xl
}

.top-game div {
    @apply text-gray-500 text-xs p-5 flex flex-col items-center
}

.top-game div div {
    @apply text-black text-sm font-bold p-0
}

.top-game div div span {
    @apply bg-red-400 text-white py-2 px-5 translate-y-full rounded-3xl z-50
}

.top-categories{
    @apply flex flex-col items-center bg-blue-600 rounded-3xl
}

.top-categories p{
    @apply my-5 text-white font-semibold
}
.top-categories img {
    @apply rounded-3xl
}